#bulky files. Shipped together on release
*.deb
*.conda
*.tar
*.gz

#misc files
*.iso
*.exe
*.FCBak
*.FCStd
*.pdf
*.swp
*.un~
*.AppImage
*.log

#precompiled package directories (myriad extensions)
localFiles/
localRepos/
installerFiles/
training/
installerFiles/
condaFiles/
git_excluded/
pythonFiles/
base-*/
