#bulky files. Shipped together on release
*.deb
*.conda
*.tar
*.gz

#misc files
*.iso
*.exe
*.FCBak
*.FCStd
*.pdf
*.swp
*.un~

#precompiled package directories (myriad extensions)
condaFiles/
git_excluded/
pythonFiles/
localRepos/
base-*/
